.day {
    background: #fff;
    border: 1px solid #999;
    height: 100px;
    width: 100px;
    float: left;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
}

.day:focus {
    outline: none;
  }

.week {
    clear: both;
    content: "";
    display: table;
  }

.calendar {
    text-align: center;
    margin: auto;
    width: 50%;
}

h1 {
    font-size: 40px;
    margin: 30px 0px;
}